DEPENDENCIES="gcc make"
LIB_DEPENDENCIES="bowtie2-build-s
bowtie2-align-s
bowtie2-inspect-s"


## Verify the install was a success
#There should be the following files  under the install root directory
FILE_CHECK="tophat
tophat2"
