#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: January 2018
#
#
# Note: This config expects the following
# env variables defined:
# 1)  EXTERNAL_SOFTWARE_BASE. -- defined in main Configuration
#

SHORT_NAME=cutadapt
NAME="cutadapt"
LANGUAGES="python"
SRC_CONTROL=git
GIT_ORG=marcelm
GIT_REPOS=$SHORT_NAME
REPOS_TAG_PATTERN="^v[0-9]+\.[0-9]+$"

PACKAGE_DOWNLOADS_BASE=$EXTERNAL_SOFTWARE_BASE/$SHORT_NAME
RELEASE_FILE=$PACKAGE_DOWNLOADS_BASE/current_release_NUMBER
RELEASE_NUMBER=""
[ -f $RELEASE_FILE ] && RELEASE_NUMBER=`cat $RELEASE_FILE`


RELEASE_DIR=${SHORT_NAME}-${RELEASE_NUMBER}
NO_DOWNLOAD=true

LOCAL_DIR=$PACKAGE_DOWNLOADS_BASE
INSTALL_PREFIX=$GIT_REPOS-

#******** Optional *********************
# untar downloaded file if needed
#

DESC="
Cutadapt finds and removes adapter sequences, primers, poly-A tails and other types of unwanted sequence from your high-throughput sequencing reads.
"
