#DEPENDENCIES="pkg-config gcc sed g++ gnuplot wget"
BIN_DEPENDENCIES="pkg-config gcc sed g++ wget"

PKG_CONFIG_PATH="/usr/local/lib/pkgconfig"
#G++ version >=4.1.2
LIB_DEPENDENCIES="libgtextutils.so libgtextutils.a"

FILE_CHECK=""
DIR_CHECK=""

BIN_FILES=${FILE_CHECK}
INCLUDE_DIR=""
LIB64_DIR=""
LIB_DIR=""


