#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: October 2017
#
# Note: This config expects the following
# env variables set by the caller
# 1)  RELEASE_NUMBER 
# 2)  GIT_CLONE_URL_BASE
#

SHORT_NAME=samtools
NAME="Samtools"
LANGUAGES="C++"
SRC_CONTROL=git
GIT_ORG=samtools
GIT_REPOS=samtools
REMOTE_SITE=${GIT_CLONE_URL_BASE}/${GIT_ORG}
REMOTE_DIR=${GIT_REPOS}
REPOS_TAG_PATTERN="^[0-9]+\.[0-9]+$"

## Only used when git repos tags are used to detect a new release 
REMOTE_VERSION_FILE=${REMOTE_SITE}/${GIT_REPOS}.git

RELEASE_DIR=$GIT_REPOS-${RELEASE_NUMBER}
EXPORT_GIT=true
CLONE_GIT=true

# Path to where htslib package is installed locally
HTSLIB_DIR=$EXTERNAL_SOFTWARE_BASE


DESC="Samtools is a suite of programs for interacting with high-throughput sequencing data.
It consists of three separate repositories:
Samtools: Reading/writing/editing/indexing/viewing SAM/BAM/CRAM format
BCFtools: Reading/writing BCF2/VCF/gVCF files and calling/filtering/summarising SNP and short indel sequence variants
HTSlib: A C library for reading/writing high-throughput sequencing data"


