#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: September 2017
#
# Note: This config expects the following
# env variables defined:
# 1)  EXTERNAL_SOFTWARE_BASE. -- defined in main Configuration
#
SHORT_NAME=blat
NAME="Blat"

HTTP_SITE=hgdownload.soe.ucsc.edu
REMOTE_SITE=http://${HTTP_SITE}
REMOTE_DIR=/admin/exe/linux.x86_64/blat
REMOTE_FILE="blat"

REMOTE_URL=${REMOTE_SITE}${REMOTE_DIR}/${REMOTE_FILE}

LOCAL_DIR=$EXTERNAL_SOFTWARE_BASE/blat

#
# wget options
remote_user=anonymous
remote_password=biocore@mdibl.org

WGET_OPTIONS=" --user=$remote_user --password=$remote_password --no-parent -S -t 10 -nd -m"

#******** Optional *************
# create a symbolic link for this source
#
create_src_symlink=false
# Remove any files in local directory that are not in remote directory
do_deletes=false
recursive=false


#
# wget
# -S = print the headers sent by HTTP servers and responses sent by FTP servers.
# -o = full path to log file
# -O = full path to output file
# -t = number of retries
# -r = reverse
# -k 7 = sort by the 7th column
# -nd = don't create directories
# -m = Turn on options suitable for mirroring. This option turns on recursion 
#    and time-stamping, sets infinite recursion depth and keeps FTP 
#    directory listings. It is currently equivalent to .-r -N -l 
#    inf --no-remove-listing.. 

