#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: October 2017
#
#
# Note: This config expects the following
# env variables defined:
# 1)  EXTERNAL_SOFTWARE_BASE. -- defined in main Configuration
#http://bowtie-bio.sourceforge.net/bowtie2/index.shtml

SHORT_NAME=hisat2
NAME="HISAT2"
LANGUAGES="C++?"
SRC_CONTROL=git
GIT_ORG=infphilo
GIT_REPOS=hisat2
REPOS_TAG_PATTERN="^[0-9]+\.*"

HTTP_SITE=ccb.jhu.edu
FTP_SITE=
#Set local directory
# 
PACKAGE_DOWNLOADS_BASE=$EXTERNAL_SOFTWARE_BASE/$GIT_REPOS
RELEASE_FILE=$PACKAGE_DOWNLOADS_BASE/current_release_NUMBER


DESC="HISAT2 is a successor to both HISAT and TopHat2. It's recommended that the HISAT and TopHat2 users switch to HISAT2. A fast and sensitive spliced alignment program for mapping RNA-seq reads. In addition to one global FM index that represents a whole genome, HISAT uses a large set of small FM indexes that collectively cover the whole genome (each index represents a genomic region of ~64,000 bp and ~48,000 indexes are needed to cover the human genome)."


