#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: October 2017
#
#
# Note: This config expects the following
# env variables defined:
# 1)  EXTERNAL_SOFTWARE_BASE. -- defined in main Configuration
#
#Note: I need to download this package from sourceforge
# https://dl.bintray.com/boostorg/release/1.66.0/source/boost_1_66_0.tar.gz
# https://sourceforge.net/projects/boost/files/boost-binaries/1.66.0/
# I noticed that the tarball downloaded from github was incomplete

SHORT_NAME=boost
NAME="Boost"
LANGUAGES="C++"
SRC_CONTROL=git
GIT_ORG=boostorg
GIT_REPOS=boost
REPOS_TAG_PATTERN="^boost-[0-9]+\.[0-9]+\.[0-9]+$"

PACKAGE_DOWNLOADS_BASE=$EXTERNAL_SOFTWARE_BASE/$GIT_REPOS
RELEASE_FILE=$PACKAGE_DOWNLOADS_BASE/current_release_NUMBER

RELEASE_NUMBER=`cat $RELEASE_FILE`
RELEASE_DIR=$SHORT_NAME-${RELEASE_NUMBER}

LOCAL_DIR=$PACKAGE_DOWNLOADS_BASE
INSTALL_PREFIX=

DESC="Boost provides free peer-reviewed portable C++ source libraries."


