BIN_DEPENDENCIES="gcc"
LIB_DEPENDENCIES="zlib.h"

## Verify the install was a success
#There should be the bin/  under the install root directory
DIR_CHECK="bin"

FILE_CHECK="bin/bedtools 
bin/bamToBed 
bin/bamToFastq
bin/bedpeToBam
bin/bedToBam
bin/bedToIgv"

BIN_FILES=""
INCLUDE_DIR=""
LIB64_DIR=""
LIB_DIR=""
